<div id="<%= dom_id maintenance_material_list %>">
  <p>
    <strong>Material:</strong>
    <%= maintenance_material_list.material.name %>
  </p>

  <p>
    <strong>Maintenance:</strong>
    <%= maintenance_material_list.maintenance.name %>
  </p>

</div>
