<h1>Editing maintenance material list</h1>

<%= render "form", maintenance_material_list: @maintenance_material_list %>

<br>

<div>
  <%= link_to "Show this maintenance material list", @maintenance_material_list %> |
  <%= link_to "Back to maintenance material lists", maintenance_material_lists_path %>
</div>
