<h1 class='text-primary'>New maintenance</h1>
<%= render "form", maintenance: @maintenance %>
<br>
<div>
  <%= link_to "Back to maintenances", maintenances_path, class: 'btn btn-outline-sucess' %>
</div>
